<div class="layout">
  <div class="side-nav">
    <div class="side-nav-heading">
      <img src="../../../favicon.ico" alt="mainlogo">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="side-nav-body py-4 px-4">
      <ul>
        <li>
          <i class="fa-regular fa-user me-2"></i><span class="side-nav-item">VidyaShree</span>
          <ul>
          <li class="side-nav-subitem">sum<i class="fa-solid fa-square-root-variable"></i></li>
    
          </ul>
        </li>
        <li>
          <i class="fa-regular fa-user me-2"></i>Priyanka
          <ul>
          <li class="side-nav-subitem">sum<i class="fa-solid fa-square-root-variable"></i></li>
    
          </ul>
        </li>
        <li>
         <i class="fa-regular fa-user me-2"></i>Chethana
          <ul>
          <li class="side-nav-subitem">sum<i class="fa-solid fa-square-root-variable"></i></li>
    
          </ul>
        </li>
        <li>
          <i class="fa-regular fa-user me-2"></i>Abhishake
          <ul>
          <li class="side-nav-subitem">sum<i class="fa-solid fa-square-root-variable"></i></li>
    
          </ul>
        </li>
        <li>
          <i class="fa-regular fa-user me-2"></i>PavanGokul
          <ul>
          <li class="side-nav-subitem">sum<i class="fa-solid fa-square-root-variable"></i></li>
    
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="body">
  </div>
</div>