*{
    --black: #000;
    --white: #fff;
    --blue: #054cf7;
    --light-blue: #4592BF;
    --green:#136219;
    --light-green:#0f0;
    --red:#f00;
    --gray: #cdc5d2ff;
    --brown: #964114;
    --light-brown: #9F7A58;
    --black-bean: #3e1a0eff;
}
